.cell{
    text-align: left;
}
.firstCell{
    position: relative;
    height: 35px;
    overflow: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

            span:last-child{
                padding-bottom: 12px;
            }

            hr{
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                border: 1px solid black;
                -webkit-transform: rotate(12deg);
                    -ms-transform: rotate(12deg);

                        transform: rotate(12deg);
            }
        }