@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    text-decoration: none;
    list-style-type: none;
        }
.cell {
    width: 160px;
    height: 25px;   
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;

    /* cursor: default; */
}
body{
    position: relative;
    margin-top: 120px;
}